boto3
grpcio
grpcio-tools
redis
pyyaml
flask
requests
sqlalchemy
psycopg[binary]
psutil
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
