LOCALSTACK_AUTH_TOKEN=replace-me
LOCALSTACK_IMAGE_TAG=latest
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_SESSION_TOKEN=test
AWS_DEFAULT_REGION=us-east-1
VENTIS_LOCALSTACK_ENDPOINT=http://localhost:4566
VENTIS_LOCALSTACK_AMI_ID=ami-0c0ffee000000001
